@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #ff9a00, #ee0979);
    color: #333;
    position: relative;
}

.container {
    max-width: 90%;
    margin: 18% auto 2%;
    padding: 2%;
    box-shadow: 0 0 2px #0000003d;
    background-color: #ffffff77;
    border-radius: 80px;
    position: relative;
}

h1 {
    color: #ff7f00;
    text-align: center;
    margin-bottom: 2%;
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
    text-shadow: 1px 2px 2px #00000080;
}

h5 {
    display: none;
}

.decorative-line {
    height: 0.2%;
    width: 100%;
    background-color: #ff7f00;
    margin-bottom: 2%;
}

/* Browse the recipes alphabetically */
.browse-section {
    text-align: center;
    margin-bottom: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1;
}

.browse-heading {
    font-size: 1.5rem;
    margin: 2% auto;
}

.browse-by-name {
    background-color: transparent;
    padding: 2%;
    margin-bottom: 2%;
}

.alphabet {
    display: inline-block;
    background-color: #faf3f385;
    border-radius: 6px;
}

.alphabet .letter {
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #3498db;
    transition: color 0.3s ease-in-out;
}

.alphabet .letter:hover {
    color: #2980b9;
}

/* Search container */
.search-container {
    text-align: center;
    margin-bottom: 2%;
}

#searchInput {
    padding: 1.2% 2%;
    width: 60%;
    border: 2px solid #3498db;
    border-radius: 5%;
    font-size: 1.2rem;
    color: #333;
}

/* Pagination */
.pagination-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.pagination-button {
    background-color: #2980b9;
    color: white;
    padding: 1% 2%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 4px #00000033;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 0 1%;
}

.pagination-button:hover {
    background-color: #3498db;
    box-shadow: 0px 4px 8px #00000033;
}

#currentPage {
    display: inline-block;
    padding: 12px 24px;
    background-color: #3498db;
    color: #fff;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px #0000001a;
}

/* Filtering */
.filter-options {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-options h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff7f00;
    text-shadow: 1px 2px 2px #00000080;

}

.dropdown {
    margin-bottom: 20px;
}

.dropdown label {
    display: block;
    margin-bottom: 5px;
    color: #111;
    text-align: center;
}

.dropdown select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    font-size: 1rem;
}

.dropdown select:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px #3498db80;
}


/* Just for Microsoft browsers */
.dropdown select::-ms-expand {
    display: none;
}

.dropdown select option {
    padding: 8px;
}

/*Toggle speech to text */
#toggleSpeechButton {
    padding: 1.2% 2.5%;
    display: none;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 1.2rem;
    animation: buttonTransition 0.5s ease-in-out;
    margin-left: 14%;
    margin-top: -6.3%;
}

#saveButton,
#toggleSpeechButton {
    display: inline-block;
}

/* Buttons */
button {
    padding: 1.2% 2.5%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 1.2rem;
    animation: buttonTransition 0.5s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #555;
}

button:active {
    transform: scale(0.95);
}

.remove-button {
    font-size: 12px;
    padding: 1% 1%;
    margin-left: 1%;
}

/* Saved recipes container */
.saved-recipes-container {
    padding: 9% 0;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    position: relative;
    overflow-x: hidden;
}

.saved-recipes-container ul {
    list-style-type: none;
    cursor: pointer;
}

.saved-recipes-container ul li {
    margin-top: 5px;
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #00000080, 2px 2px 4px #4CAF50;
    transition: transform 0.3s ease-in-out;
}

.saved-recipes-container ul li:hover {
    transform: scale(1.1);
}

/* Recipe container */
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3%;
}

.recipe {
    position: relative;
    text-align: center;
    padding: 2%;
    border: 1px solid #ccc;
    margin-bottom: 3%;
    background-color: #f9f9f9;
    box-shadow: 0 0 2px #0000001a;
    width: 49%;
    border-radius: 40px;
}

.recipe h3 {
    margin-bottom: 10px;
}

.recipe img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 40px;
}

.viewRecipeButton {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1% 2%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: 1.2rem;
}

.viewRecipeButton:hover {
    background-color: #2980b9;
    transform: translate(-50%, -20%);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000080;
    animation: fadeIn 0.5s ease;
    z-index: 40;
}

.modal-content {
    background-color: #fff;
    margin: 2% auto;
    padding: 2%;
    border-radius: 5%;
    position: relative;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 0 2px #00000033;
    animation: slideInModal 0.5s ease-in-out;

}

.modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px #000000;
}

.modal-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.modal-content p:last-child {
    margin-bottom: 0;
}

.modal-content p.category {
    color: #3498db;
    font-weight: bold;
}

.modal-content p.area {
    color: #27ae60;
    font-weight: bold;
}

.modal-content p.instructions {
    color: #333;
}


.close {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2vw;
    color: #aaaaaa;
    cursor: pointer;
}

.close:hover {
    color: #333;
}

.social-media-sharing {
    text-align: center;
}

.social-media-sharing button {
    font-size: 1.4rem;
}

.social-media-sharing h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

/* The message when no recipe is found */
.no-recipes-message {
    text-align: center;
    margin: auto;
    width: 100%;
}

/* Reset button */
#resetButton {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.8% 2%;
    font-size: 1rem;
}

/* ---------------------------- SCROLLBAR BELOW ---------------------------- */
/* ----------------- Only browsers including webkit  -----------------*/

::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff9a00, #ee0979);
    border-radius: 10px;
    box-shadow: inset 0 0 6px #333333;
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(45deg, #ee0979, #ff9a00);
}

::-webkit-scrollbar-track {
    background-color: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #ffffff;
}

::-webkit-resizer {
    background-color: #3498db;
}

/* ---------------------------- SCROLLBAR ABOVE ---------------------------- */
/* Footer */
footer {
    background-color: #333333cc;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.footer-social-icons {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.footer-social-icons li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.footer-social-icons li:last-child {
    margin-right: 0;
}

.footer-social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-social-icons a:hover {
    color: #ff7f00;
}

footer p {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.5;
}

.footer-disclaimer {
    font-size: 12px;
    opacity: 0.8;
}

.footer-disclaimer a {
    color: #fff;
    text-decoration: underline;
}

.footer-disclaimer a:hover {
    opacity: 1;
}

.footer-content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff7f00, #ee0979);
    border-radius: 50%;
    z-index: -4;
    animation: pulse 2s infinite alternate;
}

.footer-content:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 150%;
    height: 3px;
    background-color: #ff7f00;
    transform: translateX(-50%);
    z-index: -5;
}

.footer-content:hover .footer-social-icons {
    opacity: 1;
    transform: translateY(0);
}

.footer-social-icons li:hover {
    transform: translateY(-5px);
}

/* Keyframe animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInModal {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes buttonTransition {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 10px #333;
    }

    25%,
    75% {
        transform: scale(1.05);
        box-shadow: 0 0 15px #555;
    }

    50% {
        background-color: #1e87d3;
        color: #fff;
    }
}


@keyframes pulse {
    0% {
        transform: scale(0.75);
        opacity: 0.7;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.8;
    }
}

/* ------------------------- Media queries ------------------------- */

/* --------------------------- 279px+ --------------------------- */
@media screen and (min-width: 279px) {
    .container {
        padding: 4%;
        margin: 10% auto;
        border-radius: 20px;
        max-width: 80%;
        min-height: calc(100vh - 20%);
    }

    .container h1 {
        font-size: 2.4rem;
    }

    #searchInput {
        padding: 1.5% 2.5%;
        font-size: 1rem;
    }

    #searchInput::placeholder {
        font-size: 0.8rem;
    }

    .browse-section {
        margin-bottom: 5%;
        position: relative;
    }

    .alphabet .letter {
        font-size: 1.2rem;
    }

    button {
        padding: 1.5% 3%;
        margin: 2% 0;
        font-size: 1rem;
    }

    #toggleSpeechButton {
        margin-left: 0;
        margin-top: 2%;
    }

    .recipe-container {
        margin-top: 5%;
    }

    .modal-content {
        padding: 2%;
        margin: 5% auto;
        font-size: 0.8rem;
        max-width: 90%;
        overflow-y: auto;
    }

    .modal-content img {
        max-width: 100%;
        height: auto;
    }


    .close {
        font-size: 12vw;
        top: -0.2%;
        right: 4%;
        position: absolute;
    }


    /* Dropdown */
    .dropdown {
        margin-bottom: 4.5%;
        position: relative;
    }

    .dropdown label {
        display: block;
        margin-bottom: 2.5%;
        text-align: center;
    }

    .dropdown select {
        width: 100%;
        padding: 2.5%;
        border-radius: 5px;
        font-size: 1rem;
    }

    .dropdown .dropdown-content {
        display: none;
        position: absolute;
        width: calc(100% - 4%);
        top: calc(100% + 1.25%);
        left: 2%;
        border-radius: 5px;
    }

    .dropdown.active .dropdown-content {
        display: block;
    }

    .pagination-button,
    .viewRecipeButton,
    #currentPage {
        padding: 1% 2%;
        font-size: 0.8rem;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        font-size: 0.8rem;
    }
}


/* --------------------------- 576px+ --------------------------- */
@media screen and (min-width: 576px) {
    body {
        font-size: 1rem;
    }

    .container {
        width: 90%;
        margin: 10% auto 0;
    }

    .container h1 {
        font-size: 4.5rem;
    }

    .recipe {
        margin-bottom: 3%;
    }

    .recipe img {
        padding: 1%;
    }

    h2 {
        letter-spacing: 0.2rem;
    }

    .close {
        font-size: 9vw;
        position: absolute;
        top: -1%;
        left: 92%;
    }

    #toggleSpeechButton {
        margin-left: 1%;
        margin-top: 0;
        position: relative;
    }
}

/* --------------------------- 768px+ --------------------------- */
@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: 5% auto 0;
    }

    .container h1 {
        font-size: 5.4rem;

    }

    .recipe {
        margin-bottom: 4%;
    }

    .recipe img {
        padding: 1.5%;
    }

    h2 {
        letter-spacing: 0.3rem;
    }

    .close {
        font-size: 7vw;
    }

    #toggleSpeechButton {
        margin-left: 2%;
        margin-top: 0;
        position: relative;
    }
}

/* --------------------------- 1024px+ --------------------------- */
@media screen and (min-width: 1024px) {
    .close {
        font-size: 6vw;
    }

    .container h1 {
        font-size: 7vw;
    }
}

/* --------------------------- 1400px+ --------------------------- */

@media screen and (min-width: 1400px) {
    .close {
        font-size: 4vw;
    }

    .saved-recipes-container {
        margin-bottom: -2%;
    }

    .container h1 {
        font-size: 5vw;
    }

}