@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #ff9a00, #ee0979);
    color: #333;
    position: relative;
}

.container {
    max-width: 90%;
    margin: 15% auto;
    padding: 2%;
    box-shadow: 0 0 2px #0000003d;
    background-color: #ffffff77;
    border-radius: 80px;
    position: relative;
}

h1 {
    color: #ff7f00;
    text-align: center;
    margin-bottom: 2%;
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
}

.decorative-line {
    height: 0.2%;
    width: 100%;
    background-color: #ff7f00;
    margin-bottom: 2%;
}

/* Browse the recipes alphabetically */
.browse-section {
    text-align: center;
    margin-bottom: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1;
}

.browse-heading {
    font-size: 1.5rem;
    margin: 2% auto;
}

.browse-by-name {
    background-color: transparent;
    padding: 2%;
    margin-bottom: 2%;
}

.alphabet {
    display: inline-block;
    background-color: #faf3f385;
    border-radius: 6px;
}

.alphabet .letter {
    margin: 0 5px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #3498db;
    transition: color 0.3s ease-in-out;
}

.alphabet .letter:hover {
    color: #2980b9;
}

/* Search container */
.search-container {
    text-align: center;
    margin-bottom: 2%;
}

#searchInput {
    padding: 1.2% 2%;
    width: 60%;
    border: 2px solid #3498db;
    border-radius: 5%;
    font-size: 1.2rem;
    color: #333;
}

button {
    padding: 1.2% 2.5%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.2rem;
}

button:hover {
    background-color: #2980b9;
}

/* Saved recipes */
.saved-recipes-container {
    padding: 1%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
}

/* Recipe container */
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3%;
}

.recipe {
    position: relative;
    text-align: center;
    padding: 2%;
    border: 1px solid #ccc;
    margin-bottom: 3%;
    background-color: #f9f9f9;
    box-shadow: 0 0 2px #0000001a;
    width: 49%;
    border-radius: 40px;
}

.recipe h3 {
    margin-bottom: 10px;
}

.recipe img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 40px;
}

.viewRecipeButton {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1% 2%;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: 1.2rem;
}

.viewRecipeButton:hover {
    background-color: #2980b9;
    transform: translate(-50%, -20%);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000080;
    animation: fadeIn 0.5s ease;
}

.modal-content {
    background-color: #fff;
    margin: 2% auto;
    padding: 2%;
    border-radius: 5%;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 2px #00000033;
}

.close {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2vw;
    color: #aaaaaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Loading spinner */
.loading {
    display: none;
    border: 2vw solid #f3f3f3;
    border-top: 2vw solid #3498db;
    border-radius: 50%;
    width: 10vw;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* The message when no recipe is found */
.no-recipes-message {
    text-align: center;
    margin: auto;
    width: 100%;
}

/* Keyframe animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}